.home{
     background-image: url(../../assets/image/bgImage.webp);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover ;
     height: 500px;
     border-radius: 15px;
     /* position: relative; */
}