.home{
     background-image: url(../../assets/image/bgImage.webp);
     background-repeat: no-repeat;
     background-size: cover ;
     border-radius: 15px;
margin-top: 20px; 
box-sizing: border-box;
height:auto;
}
