.tabLIst {
        justify-content: space-between;
     align-items: center;
     width: 610px;
     padding: 0  10px;
     background-color: var(--card_color);
     position: absolute;
     right: 27%;
     border-radius: 20px;
     margin-top: 30px;
     transition: 0.5s linear;
}

.tabLIst .MuiTab-root {
     flex-grow: 1;
     text-align: center;
     color: var(--secondary_color);
     width: fit-content;
     min-height: fit-content;
     padding: 5px 30px;
}


.css-h0q0iv-MuiButtonBase-root-MuiTab-root.Mui-selected {
     background: var(--secondary_color);
     border-radius: 30px;
     color: white !important;
}

.css-h0q0iv-MuiButtonBase-root-MuiTab-root {
     color: var(--secondary_color)
}

.tabLIst .MuiTab-root:focus {
     background: var(--secondary_color);
     border-radius: 30px;
     color: white;

}

.css-h0q0iv-MuiButtonBase-root-MuiTab-root>.MuiTab-iconWrapper {
     color: black;
     font-size: 18px;
}

.css-h0q0iv-MuiButtonBase-root-MuiTab-root.Mui-selected>.MuiTab-iconWrapper {
     color: white;
}

.main_items {
     display: flex;
     justify-content: space-around;
     flex-direction: column;
}


/* responsive for mobile*/
@media screen and (max-width:600px) {
     .tabLIst {
            
               width: 90%;       padding: 2px;
                  right: 20px;
                  margin: inherit auto;
             
          }
.tabLIst .MuiTab-root {
        padding: 5px;
        display: flex;
        flex-direction: column;
}












}



