.nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 15px 0;
}

.nav img {
     width: 130px;
     height: 55px;
}

.nav Button {
     background-color: var(--primary);
     color: var(--input_bgColor);
     padding: 6px 20px;
     border-radius: 25px;
     text-transform: uppercase;
     cursor: pointer;
     font-size: 12px;
     width: fit-content;
     line-height: 1.5;
     letter-spacing: 0.00938em;
     font-size: 12px;
     font-weight: 600;
     font-family: PT-Root-UI,
          sans-serif;
}