:root {
  font-family: PT-Root-UI, sans-serif !important;
  line-height: 1.5;
  font-weight: 400;
  max-width: 1152px;
  margin: auto;
  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary: #525371;
  --input_bgColor: #d7e7f4;
}